In [3]:
import pandas as pd

In [18]:
data1 = pd.read_csv(r'E:\Data_analysis\Data_Science\data_4Merge\train.csv')
data2 = pd.read_csv(r'E:\Data_analysis\Data_Science\data_4Merge\test.csv')

In [19]:
data1.info(), data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290183 entries, 0 to 290182
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Artist    290183 non-null  object
 1   Song      290182 non-null  object
 2   Genre     290183 non-null  object
 3   Language  290179 non-null  object
 4   Lyrics    290148 non-null  object
dtypes: object(5)
memory usage: 11.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7935 entries, 0 to 7934
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Song       7935 non-null   object
 1   Song year  7935 non-null   int64
 2   Artist     7935 non-null   object
 3   Genre      7935 non-null   object
 4   Lyrics     7935 non-null   object
 5   Track_id   7935 non-null   int64
dtypes: int64(2), object(4)
memory usage: 372.1+ KB

(None, None)

In [11]:
def remove_duplicate(arr):
    res = []
    for val in arr:
        if val not in res:
            res.append(val)
    return res

print(remove_duplicate(data['Genre']))

['Hip-Hop', 'Indie', 'Metal', 'Pop', 'Country', 'Jazz', 'Rock', 'R&B', 'Electronic', 'Folk']

In [20]:
data1 = data1.loc[data1['Genre'].isin(['Rock', 'Pop', 'Indie', 'Jazz', 'Hip-Hop', 'Country'])]
data2 = data2.loc[data2['Genre'].isin(['Rock', 'Pop', 'Indie', 'Jazz', 'Hip-Hop', 'Country'])]

data1.info(), data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256242 entries, 0 to 290182
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Artist    256242 non-null  object
 1   Song      256241 non-null  object
 2   Genre     256242 non-null  object
 3   Language  256239 non-null  object
 4   Lyrics    256211 non-null  object
dtypes: object(5)
memory usage: 11.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5460 entries, 0 to 7934
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Song       5460 non-null   object
 1   Song year  5460 non-null   int64
 2   Artist     5460 non-null   object
 3   Genre      5460 non-null   object
 4   Lyrics     5460 non-null   object
 5   Track_id   5460 non-null   int64
dtypes: int64(2), object(4)
memory usage: 298.6+ KB

(None, None)

In [21]:
data1 = data1.dropna()
data2 = data2.dropna()
data1.info(), data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256207 entries, 0 to 290182
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Artist    256207 non-null  object
 1   Song      256207 non-null  object
 2   Genre     256207 non-null  object
 3   Language  256207 non-null  object
 4   Lyrics    256207 non-null  object
dtypes: object(5)
memory usage: 11.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5460 entries, 0 to 7934
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Song       5460 non-null   object
 1   Song year  5460 non-null   int64
 2   Artist     5460 non-null   object
 3   Genre      5460 non-null   object
 4   Lyrics     5460 non-null   object
 5   Track_id   5460 non-null   int64
dtypes: int64(2), object(4)
memory usage: 298.6+ KB

(None, None)

In [22]:
print(remove_duplicate(data1['Genre']))

['Rock', 'Pop', 'Indie', 'Jazz', 'Hip-Hop', 'Country']

In [23]:
print(data1['Genre'].value_counts())
print('_________________________________')
print(data2['Genre'].value_counts())

Rock       121390
Pop        108693
Jazz        13545
Indie        8449
Hip-Hop      2240
Country      1890
Name: Genre, dtype: int64
_________________________________
Rock       1410
Pop        1110
Hip-Hop     960
Country     810
Jazz        660
Indie       510
Name: Genre, dtype: int64

In [25]:
data = pd.concat([data1, data2])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261667 entries, 0 to 7934
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Artist     261667 non-null  object
 1   Song       261667 non-null  object
 2   Genre      261667 non-null  object
 3   Language   256207 non-null  object
 4   Lyrics     261667 non-null  object
 5   Song year  5460 non-null    float64
 6   Track_id   5460 non-null    float64
dtypes: float64(2), object(5)
memory usage: 16.0+ MB

In [16]:
data.to_csv(r'E:\Data_analysis\Data_Science\data_4Merge\data2.csv')

In [26]:
data = data.drop(columns=['Song year', 'Track_id'])

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261667 entries, 0 to 7934
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Artist    261667 non-null  object
 1   Song      261667 non-null  object
 2   Genre     261667 non-null  object
 3   Language  256207 non-null  object
 4   Lyrics    261667 non-null  object
dtypes: object(5)
memory usage: 12.0+ MB

In [28]:
print(data['Genre'].value_counts())

Rock       122800
Pop        109803
Jazz        14205
Indie        8959
Hip-Hop      3200
Country      2700
Name: Genre, dtype: int64

In [29]:
print(remove_duplicate(data['Language']))

['en', 'ro', 'pt', 'ca', 'es', 'cy', 'so', 'it', 'tl', 'sv', 'fr', 'af', 'sw', 'nl', 'sq', 'vi', 'no', 'da', 'de', 'id', 'hr', 'fi', 'pl', 'et', 'sl', 'sk', 'hu', 'tr', 'lt', 'cs', 'ko', 'ru', 'lv', nan]

In [30]:
data = data.loc[data['Language'].isin(['en'])]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218124 entries, 0 to 290182
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Artist    218124 non-null  object
 1   Song      218124 non-null  object
 2   Genre     218124 non-null  object
 3   Language  218124 non-null  object
 4   Lyrics    218124 non-null  object
dtypes: object(5)
memory usage: 10.0+ MB

In [31]:
print(data['Genre'].value_counts())

Rock       107144
Pop         86298
Jazz        13314
Indie        7240
Hip-Hop      2238
Country      1890
Name: Genre, dtype: int64

In [35]:
rock = data.loc[data['Genre'].isin(['Rock'])].head(1890)
pop = data.loc[data['Genre'].isin(['Pop'])].head(1890)
jazz = data.loc[data['Genre'].isin(['Jazz'])].head(1890)
indie = data.loc[data['Genre'].isin(['Indie'])].head(1890)
hiphop = data.loc[data['Genre'].isin(['Hip-Hop'])].head(1890)
country = data.loc[data['Genre'].isin(['Country'])].head(1890)

In [37]:
data = pd.concat([rock, pop, jazz, indie, hiphop, country])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11340 entries, 0 to 290172
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Artist    11340 non-null  object
 1   Song      11340 non-null  object
 2   Genre     11340 non-null  object
 3   Language  11340 non-null  object
 4   Lyrics    11340 non-null  object
dtypes: object(5)
memory usage: 531.6+ KB

In [38]:
data.to_csv(r'E:\Data_analysis\Data_Science\data_4Merge\data.csv')

In [42]:
data = data.drop(columns=['Artist', 'Language'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11340 entries, 0 to 290172
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Song    11340 non-null  object
 1   Genre   11340 non-null  object
 2   Lyrics  11340 non-null  object
dtypes: object(3)
memory usage: 354.4+ KB

In [70]:
data.columns = ['song name', 'category', 'song lyric']
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11340 entries, 0 to 290172
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   song name   11340 non-null  object
 1   category    11340 non-null  object
 2   song lyric  11340 non-null  object
dtypes: object(3)
memory usage: 354.4+ KB

In [71]:
cols = list(data.columns)
a, b, c = cols.index('song name'), cols.index('category'), cols.index('song lyric')
cols[a], cols[b], cols[c] = cols[a], cols[c], cols[b]
data_ = data[cols]
data_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11340 entries, 0 to 290172
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   song name   11340 non-null  object
 1   song lyric  11340 non-null  object
 2   category    11340 non-null  object
dtypes: object(3)
memory usage: 354.4+ KB

In [72]:
cate = pd.get_dummies(data_['category'])
cate.head()

   Country  Hip-Hop  Indie  Jazz  Pop  Rock
0        0        0      0     0    0     1
1        0        0      0     0    0     1
2        0        0      0     0    0     1
3        0        0      0     0    0     1
4        0        0      0     0    0     1

In [73]:
data_ = pd.concat([data_.drop(columns=['category']),cate], axis=1)
data_.head()

,song name,song lyric,Country,Hip-Hop,Indie,Jazz,Pop,Rock
0,world so cold,"It starts with pain, followed by hate\nFueled ...",0,0,0,0,0,1
1,broken,Freedom!\nAlone again again alone\nPatiently w...,0,0,0,0,0,1
2,3 leaf loser,"Biting the hand that feeds you, lying to the v...",0,0,0,0,0,1
3,anthem for the underdog,You say you know just who I am\nBut you can't ...,0,0,0,0,0,1
4,adrenaline,My heart is beating faster can't control these...,0,0,0,0,0,1

In [76]:
data_.columns = ['song name', 'song lyric', 'COUNTRY', 'HIPHOP', 'INDIE', 'JAZZ', 'POP', 'ROCK' ]
data_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11340 entries, 0 to 290172
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   song name   11340 non-null  object
 1   song lyric  11340 non-null  object
 2   COUNTRY     11340 non-null  uint8
 3   HIPHOP      11340 non-null  uint8
 4   INDIE       11340 non-null  uint8
 5   JAZZ        11340 non-null  uint8
 6   POP         11340 non-null  uint8
 7   ROCK        11340 non-null  uint8
dtypes: object(2), uint8(6)
memory usage: 332.2+ KB

######################################

In [59]:
df = pd.read_csv(r'E:\Data_analysis\Data_Science\data_4Merge\DS_data_final1.csv')
df.dropna()
df = df.drop(columns=['index'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   song name   8999 non-null   object
 1   song lyric  9000 non-null   object
 2   category    9000 non-null   object
dtypes: object(3)
memory usage: 211.1+ KB

In [77]:
cate_ = pd.get_dummies(df['category'])
cate_.head()

   COUNTRY  HIPHOP  INDIE  JAZZ  POP  ROCK
0        1       0      0     0    0     0
1        1       0      0     0    0     0
2        1       0      0     0    0     0
3        1       0      0     0    0     0
4        1       0      0     0    0     0

In [78]:
df_= pd.concat([df.drop(columns=['category']),cate_], axis=1)
df_.head()

,song name,song lyric,COUNTRY,HIPHOP,INDIE,JAZZ,POP,ROCK
0,What My World Spins Around,I love a first cast when the water's glass and...,1,0,0,0,0,0
1,Home,Another Christmas Day. Will come and go away. ...,1,0,0,0,0,0
2,"I Like It, I Love It",Spent 48 dollars last night at the county fair...,1,0,0,0,0,0
3,Cheap Suit,There's a man in a cheap suit. Holding a beer ...,1,0,0,0,0,0
4,St. Louis,I can hear the crowd. The sea of red. My favor...,1,0,0,0,0,0

############################################

In [79]:
data_final = pd.concat([data_, df_])
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20340 entries, 0 to 8999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   song name   20339 non-null  object
 1   song lyric  20340 non-null  object
 2   COUNTRY     20340 non-null  uint8
 3   HIPHOP      20340 non-null  uint8
 4   INDIE       20340 non-null  uint8
 5   JAZZ        20340 non-null  uint8
 6   POP         20340 non-null  uint8
 7   ROCK        20340 non-null  uint8
dtypes: object(2), uint8(6)
memory usage: 595.9+ KB

In [80]:
data_final = data_final.dropna()
data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20339 entries, 0 to 8999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   song name   20339 non-null  object
 1   song lyric  20339 non-null  object
 2   COUNTRY     20339 non-null  uint8
 3   HIPHOP      20339 non-null  uint8
 4   INDIE       20339 non-null  uint8
 5   JAZZ        20339 non-null  uint8
 6   POP         20339 non-null  uint8
 7   ROCK        20339 non-null  uint8
dtypes: object(2), uint8(6)
memory usage: 595.9+ KB

In [81]:
data_final.tail()

,song name,song lyric,COUNTRY,HIPHOP,INDIE,JAZZ,POP,ROCK
8995,Cocaine,"If you wanna hang out, you've gotta take her o...",0,0,0,0,0,1
8996,All Along the Watchtower,"""There must be some kind of way out of here"". ...",0,0,0,0,0,1
8997,Carry on Wayward Son,Carry on my wayward son. There'll be peace whe...,0,0,0,0,0,1
8998,Simple Man,Mama told me when I was young. Come sit beside...,0,0,0,0,0,1
8999,The Prisoner - 2015 Remaster,We want information. Information. Information....,0,0,0,0,0,1

In [83]:
data_final.to_csv(r'E:\Data_analysis\Data_Science\data_4Merge\data_final.csv')